<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Hey <%= name %> </h1>
    <a href="/todos">See Your Schedule</a>
    <br>
    <a href="/logout">Logout</a>
  </body>
</html>
