<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>

    <h3>Welcome To My First(probably) Website!</h3>
    <h3>This website was made using Nodejs...which I have to say is ridiculously easy..</h3>
    <h4>So, this is a basic todo-list platform.</h4>
    <a href="/register">Register Now</a>
    <a href="/login">Login</a>
  </body>
</html>
