<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Registeration Success</title>
  </head>
  <body>
    <h1>Register Successfull <%= name %> </h1>
    <a href="/login">Login</a>
  </body>

</html>
